CLIENT_PORT=5173
SERVER_PORT=3001
POSTGRES_HOST=localhost
# Docker Postgres (образ postgres:16-alpine):
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
VITE_APP_API_URL=http://localhost:3000
EXTERNAL_SERVER_URL=http://localhost:3000
INTERNAL_SERVER_URL=http://server:3000
PRAKTIKUM_API_URL=https://ya-praktikum.tech
EXTERNAL_SERVER_URL=http://localhost:3001
INTERNAL_SERVER_URL=http://server:3001
